<div class="jumbotron text-center my-4">
    <div class="container">
        <h1 class="display-4">{{title}}</h1>
        <p class="lead">Jot Down ideas for your next YouTube Videos</p>
        <a class="btn btn-dark btn-long" href="/ideas/add">Add Video Idea</a>
    </div>
</div>